[run]
relative_files = True
omit =
 */tests/*

[report]
fail_under = 90
exclude_lines =
  # Skip abstract methods
  @abstractmethod
  @abc.abstractmethod
  # Skip not implemented methods
  raise NotImplementedError
  # Skip module execution blocks
  if __name__ == "__main__":
