version: '3'

services:

  shibumi-store:
    image: shibumi-store:latest
    build:
      context: .
      dockerfile: Dockerfile
    container_name: shibumi-store
    stdin_open: true
    tty: true
    ports:
      - "8000:8000"
    depends_on:
      - mongo
      - redis
    environment:
      - APP_NAME=shibumi-store
      - APP_WORKERS=4
      - APP_DEBUG=true
      - APP_OPENAPI_URL=/openapi.json
      - AUTH_SECRET_KEY=  # Add your secret key here
      - AUTH_REFRESH_SECRET_KEY=  # Add your refresh secret key here
      - AUTH_ALGORITHM=HS256
      - AUTH_ACCESS_TOKEN_EXPIRE_MINUTES = 15
      - AUTH_REFRESH_TOKEN_EXPIRE_MINUTES = 24 * 60
      - MONGODB_HOST=mongo
      - MONGODB_PORT=27017
      - MONGODB_USER=root
      - MONGODB_PASSWORD=root
      - MONGODB_NAME=shop
      - MONGO_AUTH_SOURCE=admin
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - REDIS_PASSWORD=root
      - SEND_GRID_API_KEY=  # Add your SendGrid API key here
      - SEND_GRID_SENDER_EMAIL=  # Add your SendGrid sender email here
    volumes:
      - .:/src
    command: /bin/sh -c "invoke upgrade-migrations; python -m app.app"

  mongo:
    image: bitnami/mongodb:7.0.5-debian-11-r22
    container_name: mongodb
    restart: always
    ports:
      - "27017:27017"
    environment:
      - MONGODB_ADVERTISED_HOSTNAME=mongo
      - MONGODB_REPLICA_SET_MODE=primary
      - MONGODB_ROOT_USERNAME=root
      - MONGODB_ROOT_PASSWORD=root
      - MONGODB_REPLICA_SET_KEY=replicasetkey123

  redis:
    image: redis:7.2.4-alpine
    restart: always
    ports:
      - "6379:6379"
    command: /bin/sh -c "redis-server --requirepass root"
